<app-header></app-header>
<router-outlet></router-outlet>

<mat-card>


  <h1 style="text-align: center;">Existing Synthetic Data</h1>
  <mat-card class="custom-card" style="padding: 3%">

    <mat-card-content>
      <div style="text-align: center;">
        <button mat-raised-button class="createButton" style="padding: 3%" (click)="openDialog()">Create Your Own
          <br>Synthetic Data</button>

      </div>
    </mat-card-content>

    <br>
    <table mat-table [dataSource]="dataSource" class="custom-table">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 30%"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef> Progress </th>
        <td mat-cell *matCellDef="let element">

          <mat-chip-option style="color: lightgreen" *ngIf="element.isTraining" [selectable]=false>In
            Progress</mat-chip-option>
          <mat-chip-option *ngIf="element.isCancelled" color="accent" [selectable]=false>Cancelled</mat-chip-option>
          <mat-chip-option *ngIf="!element.isTraining && !element.isCancelled" color="primary" selected
            [selectable]=false>Finished</mat-chip-option>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="row" style="display: inline;">
            <span class="col-lg-3">
              <button *ngIf="element.isCompleted" mat-raised-button class="space" (click)="downloadData(element)">Download</button> &nbsp;&nbsp;
            </span>

            <span class="col-lg-3">
              <button *ngIf="element.isCompleted" mat-raised-button class="space" (click)="analyseData(element)">Analyse</button> &nbsp;&nbsp;
            </span>
            <span *ngIf="element.isTraining" class="col-lg-3">
              <button mat-raised-button class="space" (click)="CancelTraining(element)">Cancel</button>
            </span>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
    </table>
  </mat-card>
</mat-card>
<app-footer></app-footer>